.header
  .header__title
    .header__title__content
      FORM TEST
%ul.header__menu_bar
  %li.menu
    = link_to "#" do
      = icon('fas', 'home')
  %li.menu
    = link_to "#" do
      = icon('fas', 'bars')
  %li.menu
    = link_to "#" do
      = icon('fas', 'envelope')
  %li.menu
    = link_to "#" do
      = icon('fas',   'shopping-cart')