%ul.header__menu_bar
  %li.menu
    = link_to "#" do
      = icon('fas', 'home')
  %li.menu
    = link_to "#" do
      = icon('fas', 'bars')
  %li.menu
    = link_to "#" do
      = icon('fas', 'envelope')
  %li.menu
    = link_to "#" do
      = icon('fas',   'shopping-cart')
  %li.menu
    = link_to edit_user_path(current_user) do
      = icon('fas', 'user')

